<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_LOBBY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Ball_Select_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,290},{253,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,248}}</string>
                <key>sourceSize</key>
                <string>{253,248}</string>
            </dict>
            <key>Gold_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,767},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>MOVE_GUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,540},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>MOVE_GUI_Round.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,290},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>MOVE_GUI_Triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,403},{83,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,59}</string>
            </dict>
            <key>Noti_Box_NoLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{370,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,286}}</string>
                <key>sourceSize</key>
                <string>{370,286}</string>
            </dict>
            <key>Notification_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,464},{417,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,73}}</string>
                <key>sourceSize</key>
                <string>{417,73}</string>
            </dict>
            <key>Red_Button_Glass.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,829},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>Reddot.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,403},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gui_Update_pack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7faae1a85f23d6f100860cb1b682ea05:1/1$</string>
            <key>textureFileName</key>
            <string>Gui_Update_pack.png</string>
        </dict>
    </dict>
</plist>
