<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DaNang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{107,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,31}}</string>
                <key>sourceSize</key>
                <string>{107,31}</string>
            </dict>
            <key>HaNoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1845},{102,41}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,41}}</string>
                <key>sourceSize</key>
                <string>{106,43}</string>
            </dict>
            <key>SaiGon.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2005},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1845},{182,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,96}}</string>
                <key>sourceSize</key>
                <string>{182,96}</string>
            </dict>
            <key>item_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{655,611}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{655,611}}</string>
                <key>sourceSize</key>
                <string>{661,613}</string>
            </dict>
            <key>item_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{660,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,613}}</string>
                <key>sourceSize</key>
                <string>{660,613}</string>
            </dict>
            <key>item_img_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1905},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>item_img_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1845},{163,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,153}}</string>
                <key>sourceSize</key>
                <string>{163,153}</string>
            </dict>
            <key>item_img_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1905},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>item_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{661,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,613}}</string>
                <key>sourceSize</key>
                <string>{661,613}</string>
            </dict>
            <key>item_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1943},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1845},{216,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{216,58}}</string>
                <key>sourceSize</key>
                <string>{220,62}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1943},{27,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MatchMatching.png</string>
            <key>size</key>
            <string>{665,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:821a8a990726d5dfcb4d360aa05dec37:1/1$</string>
            <key>textureFileName</key>
            <string>MatchMatching.png</string>
        </dict>
    </dict>
</plist>
