<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,854},{56,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{56,83}</string>
            </dict>
            <key>Back_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,939},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>Blue_Panel_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{367,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,424}}</string>
                <key>sourceSize</key>
                <string>{367,424}</string>
            </dict>
            <key>Blue_Panel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{340,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,400}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>Lock_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,854},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>O.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,974},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Orange_Panel_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{367,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,424}}</string>
                <key>sourceSize</key>
                <string>{367,424}</string>
            </dict>
            <key>Orange_Panel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,428},{341,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,400}}</string>
                <key>sourceSize</key>
                <string>{341,400}</string>
            </dict>
            <key>Purple_Panel_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,424}}</string>
                <key>sourceSize</key>
                <string>{367,424}</string>
            </dict>
            <key>Purple_Panel_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,428},{344,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,403}}</string>
                <key>sourceSize</key>
                <string>{344,403}</string>
            </dict>
            <key>Special_EVENT.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,941},{185,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,31}}</string>
                <key>sourceSize</key>
                <string>{185,31}</string>
            </dict>
            <key>Streak_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,830},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>Tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,833},{98,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,65}}</string>
                <key>sourceSize</key>
                <string>{98,65}</string>
            </dict>
            <key>White_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,404},{244,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,2}}</string>
                <key>sourceSize</key>
                <string>{244,2}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,867},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,830},{157,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,109}}</string>
                <key>sourceSize</key>
                <string>{157,109}</string>
            </dict>
            <key>race2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,830},{169,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,175}}</string>
                <key>sourceSize</key>
                <string>{169,175}</string>
            </dict>
            <key>streak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{223,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,151}}</string>
                <key>sourceSize</key>
                <string>{223,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ModeSelect.png</string>
            <key>size</key>
            <string>{1082,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7abf77b6b8d06d7e85cb593d35970b80:1/1$</string>
            <key>textureFileName</key>
            <string>ModeSelect.png</string>
        </dict>
    </dict>
</plist>
