<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Add_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,820},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,384},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>Ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,409},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>Blue_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{22,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,2}}</string>
                <key>sourceSize</key>
                <string>{22,2}</string>
            </dict>
            <key>Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,227},{271,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,120}}</string>
                <key>sourceSize</key>
                <string>{271,120}</string>
            </dict>
            <key>Card_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,678},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>Challenge_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{728,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,502}}</string>
                <key>sourceSize</key>
                <string>{728,502}</string>
            </dict>
            <key>Challenge_Group_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,59},{166,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,271}}</string>
                <key>sourceSize</key>
                <string>{166,271}</string>
            </dict>
            <key>Deck+Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,556},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>Deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{272,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,55}}</string>
                <key>sourceSize</key>
                <string>{272,55}</string>
            </dict>
            <key>Middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,482},{154,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,153}}</string>
                <key>sourceSize</key>
                <string>{154,153}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{459,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,82}}</string>
                <key>sourceSize</key>
                <string>{459,82}</string>
            </dict>
            <key>Star_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,349},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>ThuThach_Box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{48,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,132}}</string>
                <key>sourceSize</key>
                <string>{48,132}</string>
            </dict>
            <key>ThuThach_Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,482},{72,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,132}}</string>
                <key>sourceSize</key>
                <string>{72,132}</string>
            </dict>
            <key>ThuThach_Box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,962},{56,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,140}}</string>
                <key>sourceSize</key>
                <string>{56,140}</string>
            </dict>
            <key>ThuThach_Box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,678},{74,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,140}}</string>
                <key>sourceSize</key>
                <string>{74,140}</string>
            </dict>
            <key>ThuThach_Box_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,820},{56,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,140}}</string>
                <key>sourceSize</key>
                <string>{56,140}</string>
            </dict>
            <key>Top.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,349},{248,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,131}}</string>
                <key>sourceSize</key>
                <string>{248,131}</string>
            </dict>
            <key>Yellow_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{31,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,12}}</string>
                <key>sourceSize</key>
                <string>{31,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChallengeUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b8ead1b34edf5ea8613b107db9ac961:1/1$</string>
            <key>textureFileName</key>
            <string>ChallengeUI.png</string>
        </dict>
    </dict>
</plist>
