<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_Buttons_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,367},{276,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,81}}</string>
                <key>sourceSize</key>
                <string>{276,81}</string>
            </dict>
            <key>Angle_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,639},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Avatar_Box_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,601},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Avatar_Box_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,601},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Ball_Box_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,658},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>Ball_Box_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,651},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>Ball_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,501},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Ball_Touch_Indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,327},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>Board_Box_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,94},{362,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,89}}</string>
                <key>sourceSize</key>
                <string>{362,89}</string>
            </dict>
            <key>Board_Box_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{363,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,90}}</string>
                <key>sourceSize</key>
                <string>{363,90}</string>
            </dict>
            <key>Camera_2D_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,601},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>Camera_3D_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,621},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>ChangeStick_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,450},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>Chat_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,511},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>Clock_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,543},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>Countdown_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,631},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Countdown_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,556},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Ext_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,255},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Fake_Ingame_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Gyro_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,285},{87,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,23}}</string>
                <key>sourceSize</key>
                <string>{87,23}</string>
            </dict>
            <key>Gyro_On.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,401},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Level_Box_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,588},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>Level_Box_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,555},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>Menu_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,473},{96,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>Money_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,473},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>Power_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,293},{36,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,331}}</string>
                <key>sourceSize</key>
                <string>{36,331}</string>
            </dict>
            <key>Round_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,450},{164,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,21}}</string>
                <key>sourceSize</key>
                <string>{164,21}</string>
            </dict>
            <key>Ruler_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,255},{36,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,331}}</string>
                <key>sourceSize</key>
                <string>{36,331}</string>
            </dict>
            <key>Ruler_Box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,367},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>Ruler_Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,331},{34,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,329}}</string>
                <key>sourceSize</key>
                <string>{34,329}</string>
            </dict>
            <key>Side_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,185},{68,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,362}}</string>
                <key>sourceSize</key>
                <string>{68,362}</string>
            </dict>
            <key>Stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,18},{11,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,307}}</string>
                <key>sourceSize</key>
                <string>{11,307}</string>
            </dict>
            <key>Tri_angel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ingame_Reworked.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6176a5b442431396129fee259c2a843d:1/1$</string>
            <key>textureFileName</key>
            <string>Ingame_Reworked.png</string>
        </dict>
    </dict>
</plist>
