<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,168},{364,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,125}}</string>
                <key>sourceSize</key>
                <string>{364,125}</string>
            </dict>
            <key>Avatar_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1179},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Bleu_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,923},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>Box_chip_bleu_glove.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,923},{185,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,26}}</string>
                <key>sourceSize</key>
                <string>{185,26}</string>
            </dict>
            <key>Challenge_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,876},{198,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,118}}</string>
                <key>sourceSize</key>
                <string>{198,118}</string>
            </dict>
            <key>Chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1116},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>ChoiNgay_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,447},{474,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,217}}</string>
                <key>sourceSize</key>
                <string>{474,217}</string>
            </dict>
            <key>ChoiNgay_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,679},{147,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,195}}</string>
                <key>sourceSize</key>
                <string>{147,195}</string>
            </dict>
            <key>ChoiNgay_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,398},{221,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,47}}</string>
                <key>sourceSize</key>
                <string>{221,47}</string>
            </dict>
            <key>Clan_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,999},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>Clan_Icon_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,369},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>Fake_Lobby_02_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>GiaiTheBi_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{366,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,164}}</string>
                <key>sourceSize</key>
                <string>{366,164}</string>
            </dict>
            <key>GiaiTheBi_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,421},{128,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,155}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>Giaithebi_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,951},{174,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,42}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>Gloves_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1085},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,957},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Question_Mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1286},{60,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,85}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>Rank_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,332},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>Rank_Icon_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,295},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>Setting_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1348},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Shop_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1045},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>Shop_Icon_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1055},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>Tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,295},{101,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,330}}</string>
                <key>sourceSize</key>
                <string>{101,330}</string>
            </dict>
            <key>Tab_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1267},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Tab_Button_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1179},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Tab_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1076},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>TranhTai_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,995},{392,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,164}}</string>
                <key>sourceSize</key>
                <string>{392,164}</string>
            </dict>
            <key>TranhTai_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,551},{149,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,126}}</string>
                <key>sourceSize</key>
                <string>{149,126}</string>
            </dict>
            <key>TranhTai_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,876},{177,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,39}}</string>
                <key>sourceSize</key>
                <string>{177,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lobby_Reworked.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35387ccb9b947e83b8d8d0346735cbb9:1/1$</string>
            <key>textureFileName</key>
            <string>Lobby_Reworked.png</string>
        </dict>
    </dict>
</plist>
