<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,92},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>rt3_Avatar_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1912},{364,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,125}}</string>
                <key>sourceSize</key>
                <string>{364,125}</string>
            </dict>
            <key>rt3_Avatar_Board_Offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,371},{197,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,63}}</string>
                <key>sourceSize</key>
                <string>{197,63}</string>
            </dict>
            <key>rt3_Avatar_Board_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,244},{354,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,125}}</string>
                <key>sourceSize</key>
                <string>{354,125}</string>
            </dict>
            <key>rt3_Avatar_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,244},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>rt3_Avatar_Border_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1912},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>rt3_Board_ChooseRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{296,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,471}}</string>
                <key>sourceSize</key>
                <string>{296,471}</string>
            </dict>
            <key>rt3_Board_InvFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{240,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,416}}</string>
                <key>sourceSize</key>
                <string>{240,416}</string>
            </dict>
            <key>rt3_Box_chip_bleu_glove.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2008},{185,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,26}}</string>
                <key>sourceSize</key>
                <string>{185,26}</string>
            </dict>
            <key>rt3_Button_ChooseRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>rt3_Chip_blue_Glove_Box_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1979},{186,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,27}}</string>
                <key>sourceSize</key>
                <string>{186,27}</string>
            </dict>
            <key>rt3_Close_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,169},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>rt3_Crown_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,223},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>rt3_Green_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,371},{297,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,73}}</string>
                <key>sourceSize</key>
                <string>{297,73}</string>
            </dict>
            <key>rt3_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,45},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>rt3_Level_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>rt3_Light_Board_InvFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1979},{34,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,275}}</string>
                <key>sourceSize</key>
                <string>{34,275}</string>
            </dict>
            <key>rt3_Light_Board_InvFriend_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,475},{283,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,418}}</string>
                <key>sourceSize</key>
                <string>{283,418}</string>
            </dict>
            <key>rt3_Line_Board_InvFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{704,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,1}}</string>
                <key>sourceSize</key>
                <string>{704,1}</string>
            </dict>
            <key>rt3_Line_ChooseRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2015},{253,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,2}}</string>
                <key>sourceSize</key>
                <string>{253,2}</string>
            </dict>
            <key>rt3_Question_Mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,92},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>rt3_Red_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,446},{257,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,74}}</string>
                <key>sourceSize</key>
                <string>{257,74}</string>
            </dict>
            <key>rt3_Reward_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2029},{115,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,8}}</string>
                <key>sourceSize</key>
                <string>{115,8}</string>
            </dict>
            <key>rt3_Reward_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2019},{115,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,8}}</string>
                <key>sourceSize</key>
                <string>{115,8}</string>
            </dict>
            <key>rt3_Room_GUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,183}}</string>
                <key>sourceSize</key>
                <string>{1136,183}</string>
            </dict>
            <key>rt3_Win_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1549},{457,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,361}}</string>
                <key>sourceSize</key>
                <string>{457,361}</string>
            </dict>
            <key>rt3_Win_Middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{404,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,640}}</string>
                <key>sourceSize</key>
                <string>{404,640}</string>
            </dict>
            <key>rt3_Win_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1549},{471,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,428}}</string>
                <key>sourceSize</key>
                <string>{471,428}</string>
            </dict>
            <key>rt3_Winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,705},{251,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,97}}</string>
                <key>sourceSize</key>
                <string>{251,97}</string>
            </dict>
            <key>rt3_Yellow_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,446},{257,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,74}}</string>
                <key>sourceSize</key>
                <string>{257,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Duo_RT3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52b7cb05beb38a37bfd76ed9c06e052e:1/1$</string>
            <key>textureFileName</key>
            <string>Duo_RT3.png</string>
        </dict>
    </dict>
</plist>
