<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Aura.png</key>
            <dict>
                <key>frame</key>
                <string>{{3416,2},{451,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,444}}</string>
                <key>sourceSize</key>
                <string>{451,444}</string>
            </dict>
            <key>Aura2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3416,448},{441,441}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{441,441}}</string>
                <key>sourceSize</key>
                <string>{465,453}</string>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2278,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,872},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>Battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1020},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>Battery_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1020},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>Blue_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2462,644},{821,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,150}}</string>
                <key>sourceSize</key>
                <string>{821,150}</string>
            </dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,644},{466,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,409}}</string>
                <key>sourceSize</key>
                <string>{466,409}</string>
            </dict>
            <key>CueRack_Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,644},{226,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,461}}</string>
                <key>sourceSize</key>
                <string>{226,461}</string>
            </dict>
            <key>CueRack_Power.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,644},{226,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,49}}</string>
                <key>sourceSize</key>
                <string>{226,49}</string>
            </dict>
            <key>Fake_Cues_Info_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_Inventory_01b_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Gray_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,872},{167,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,59}}</string>
                <key>sourceSize</key>
                <string>{167,59}</string>
            </dict>
            <key>Green_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,872},{167,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,59}}</string>
                <key>sourceSize</key>
                <string>{167,59}</string>
            </dict>
            <key>Info_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1020},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>KHODO_TEXT.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,948},{227,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,70}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{374,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,623}}</string>
                <key>sourceSize</key>
                <string>{374,623}</string>
            </dict>
            <key>New_Icon_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1020},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>New_Icon_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1020},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>New_Icon_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1020},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>New_Icon_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1020},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>PowerBar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{226,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,23}}</string>
                <key>sourceSize</key>
                <string>{226,23}</string>
            </dict>
            <key>PowerBar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1020},{224,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,21}}</string>
                <key>sourceSize</key>
                <string>{224,21}</string>
            </dict>
            <key>Purple_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2462,891},{821,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,150}}</string>
                <key>sourceSize</key>
                <string>{821,150}</string>
            </dict>
            <key>Red_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,796},{821,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,150}}</string>
                <key>sourceSize</key>
                <string>{821,150}</string>
            </dict>
            <key>Star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1020},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>Star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1020},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>Star_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1043},{203,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,9}}</string>
                <key>sourceSize</key>
                <string>{203,9}</string>
            </dict>
            <key>Stat_Chart.png</key>
            <dict>
                <key>frame</key>
                <string>{{3568,891},{144,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>Tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3285,644},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>Tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,872},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>Tab_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{3285,891},{281,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,156}}</string>
                <key>sourceSize</key>
                <string>{281,156}</string>
            </dict>
            <key>Ticket_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1020},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,948},{1136,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,86}}</string>
                <key>sourceSize</key>
                <string>{1136,86}</string>
            </dict>
            <key>Yellow_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,644},{821,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,150}}</string>
                <key>sourceSize</key>
                <string>{821,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Inventory_Reworked.png</string>
            <key>size</key>
            <string>{3869,1055}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fd9d39556a8bc93f69a466300ea6c00:1/1$</string>
            <key>textureFileName</key>
            <string>Inventory_Reworked.png</string>
        </dict>
    </dict>
</plist>
