<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{801,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{801,452}}</string>
                <key>sourceSize</key>
                <string>{801,452}</string>
            </dict>
            <key>Board_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{398,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,387}}</string>
                <key>sourceSize</key>
                <string>{398,387}</string>
            </dict>
            <key>Board_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{323,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,381}}</string>
                <key>sourceSize</key>
                <string>{323,381}</string>
            </dict>
            <key>Close_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1779},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Infor_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1519},{295,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,166}}</string>
                <key>sourceSize</key>
                <string>{295,166}</string>
            </dict>
            <key>LamMoi_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{120,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,43}}</string>
                <key>sourceSize</key>
                <string>{120,43}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{339,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,2}}</string>
                <key>sourceSize</key>
                <string>{339,2}</string>
            </dict>
            <key>Lock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,208},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>Lock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,166},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>MIssion_Box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1196},{117,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,150}}</string>
                <key>sourceSize</key>
                <string>{117,150}</string>
            </dict>
            <key>MIssion_Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1348},{113,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,145}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>MIssion_Box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{126,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,157}}</string>
                <key>sourceSize</key>
                <string>{126,157}</string>
            </dict>
            <key>Mission_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1856},{135,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,107}}</string>
                <key>sourceSize</key>
                <string>{135,107}</string>
            </dict>
            <key>Mission_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,805},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>Mission_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1096},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
            <key>Mission_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1495},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Mission_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1687},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>Mission_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1519},{83,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,101}}</string>
                <key>sourceSize</key>
                <string>{83,101}</string>
            </dict>
            <key>Plus_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,124},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Red_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1687},{190,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{190,66}</string>
            </dict>
            <key>Sponsor_Box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1755},{175,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,99}}</string>
                <key>sourceSize</key>
                <string>{175,99}</string>
            </dict>
            <key>Sponsor_Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1713},{171,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,95}}</string>
                <key>sourceSize</key>
                <string>{171,95}</string>
            </dict>
            <key>Sponsor_Box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1901},{165,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,89}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
            <key>Sponsor_Box_Progress_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1810},{165,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,89}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
            <key>Sponsor_Box_Progress_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1810},{165,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,89}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
            <key>Sponsor_Box_Progress_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,915},{179,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,103}}</string>
                <key>sourceSize</key>
                <string>{179,103}</string>
            </dict>
            <key>info_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,249},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SponsorGUIs.png</string>
            <key>size</key>
            <string>{508,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9910621ed72e12749f7d1fe80f3360e5:1/1$</string>
            <key>textureFileName</key>
            <string>SponsorGUIs.png</string>
        </dict>
    </dict>
</plist>
