<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angle.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,978},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>Arrow.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,818},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>Arrow_red.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,945},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>Avatar_Box_Blue.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,941},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Avatar_Box_Red.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,941},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Avatar_Bubble.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,844},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>Ball_Box.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,965},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>Ball_button.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,837},{107,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,106}}</string>
                <key>sourceSize</key>
                <string>{107,106}</string>
            </dict>
            <key>Board_Blue.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{316,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,102}}</string>
                <key>sourceSize</key>
                <string>{316,102}</string>
            </dict>
            <key>Board_Red.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,528},{314,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{314,102}}</string>
                <key>sourceSize</key>
                <string>{316,102}</string>
            </dict>
            <key>Camera2D_Icon.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,851},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>Camera3D_Icon.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,960},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>Challenge_Box_Blue.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,734},{157,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,101}}</string>
                <key>sourceSize</key>
                <string>{157,101}</string>
            </dict>
            <key>Challenge_Box_Green.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,631},{157,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,101}}</string>
                <key>sourceSize</key>
                <string>{157,101}</string>
            </dict>
            <key>Challenge_Box_Orange.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,528},{157,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,101}}</string>
                <key>sourceSize</key>
                <string>{157,101}</string>
            </dict>
            <key>Challenge_Box_Purple.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,425},{157,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,101}}</string>
                <key>sourceSize</key>
                <string>{157,101}</string>
            </dict>
            <key>Chat_Icon.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,902},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>Chat_Setting_Box.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,837},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>Countdown_Blue.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,734},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Countdown_Red.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,427},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>Ext_Button.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,395},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Green_Arrow.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,945},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>Green_Round_Box.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,395},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>Level_Box_Blue.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,965},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>Level_Box_Red.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,945},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>Power_Bar.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{53,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,332}}</string>
                <key>sourceSize</key>
                <string>{53,332}</string>
            </dict>
            <key>QuickChange_Stick_Icon.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,336},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>Ruler_Box_01.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,978},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>Ruler_Box_02.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,627},{36,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,331}}</string>
                <key>sourceSize</key>
                <string>{36,331}</string>
            </dict>
            <key>Ruler_Box_03.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{94,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,421}}</string>
                <key>sourceSize</key>
                <string>{94,421}</string>
            </dict>
            <key>Ruler_Box_04.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{95,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,423}}</string>
                <key>sourceSize</key>
                <string>{95,423}</string>
            </dict>
            <key>Setting_Icon.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,818},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>Shoot_Button.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Star.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,511},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>Stick.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,528},{11,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,307}}</string>
                <key>sourceSize</key>
                <string>{11,307}</string>
            </dict>
            <key>Stick_Camera_Box.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,528},{196,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,86}}</string>
                <key>sourceSize</key>
                <string>{196,86}</string>
            </dict>
            <key>Stick_Icon.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,945},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>Stick_Power_Box_01.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,524}}</string>
                <key>sourceSize</key>
                <string>{124,524}</string>
            </dict>
            <key>Stick_Power_Box_02.v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,623}}</string>
                <key>sourceSize</key>
                <string>{126,623}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame_v3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e91388e3eda90c41f601d1ccfda701f8:1/1$</string>
            <key>textureFileName</key>
            <string>ingame_v3.png</string>
        </dict>
    </dict>
</plist>
