<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0000_Camera.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,440},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>1_0001_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,335},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>1_0002_Angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,402},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>1_0003_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,57},{11,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,307}}</string>
                <key>sourceSize</key>
                <string>{11,307}</string>
            </dict>
            <key>1_0004_Ruler.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{53,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,329}}</string>
                <key>sourceSize</key>
                <string>{53,329}</string>
            </dict>
            <key>1_0005_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,544},{95,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,423}}</string>
                <key>sourceSize</key>
                <string>{95,423}</string>
            </dict>
            <key>1_0006_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,214},{119,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,68}}</string>
                <key>sourceSize</key>
                <string>{119,68}</string>
            </dict>
            <key>1_0007_01-copy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,384},{180,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,67}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>1_0008_Layer-3537-copy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,905},{110,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,532}}</string>
                <key>sourceSize</key>
                <string>{110,532}</string>
            </dict>
            <key>1_0009_Shape-131.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,867},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>1_0010_Rounded-Rectangle-67-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,628},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>1_0011_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,70},{242,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,293}}</string>
                <key>sourceSize</key>
                <string>{242,293}</string>
            </dict>
            <key>1_0012_Rounded-Rectangle-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,314},{204,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,86}}</string>
                <key>sourceSize</key>
                <string>{204,86}</string>
            </dict>
            <key>1_0013_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>1_0014_Group-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,566},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>1_0015_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,784},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>1_0016_Ava-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,784},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>1_0017_Layer-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,89},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>1_0018_Layer-3486-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,969},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>1_0019_Ellipse-19-copy-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,777},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>1_0020_Layer-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,133},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>Analog_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,599},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>Angle_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,314},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Button_Expand.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,57},{17,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>Fake_Ingame_06_i5-Recovered.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ingame_3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc85861647a629bfa23db31f6e52547c:1/1$</string>
            <key>textureFileName</key>
            <string>Ingame_3.png</string>
        </dict>
    </dict>
</plist>
