<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_2D_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,825},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>ingame_3D_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,719},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>ingame_Analog_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,203},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>ingame_Angle_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,486},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ingame_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,107},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>ingame_Avatar_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,248},{192,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,144}}</string>
                <key>sourceSize</key>
                <string>{192,144}</string>
            </dict>
            <key>ingame_Avatar_Board_Long.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,442},{401,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>ingame_Avatar_Box_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,928},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ingame_Avatar_Box_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,928},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ingame_Ball_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,486},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>ingame_Board_Chat Setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,403},{191,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,81}}</string>
                <key>sourceSize</key>
                <string>{191,81}</string>
            </dict>
            <key>ingame_Chat_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>ingame_Clock_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,142},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>ingame_Countdown_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,845},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ingame_Countdown_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1196},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ingame_Ext_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,126},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ingame_Fake_Ingame_03_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>ingame_HUD_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{100,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,331}}</string>
                <key>sourceSize</key>
                <string>{100,331}</string>
            </dict>
            <key>ingame_HUD_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,554},{65,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,640}}</string>
                <key>sourceSize</key>
                <string>{65,640}</string>
            </dict>
            <key>ingame_Match_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,142},{227,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,59}}</string>
                <key>sourceSize</key>
                <string>{227,59}</string>
            </dict>
            <key>ingame_Power_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,104},{36,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,331}}</string>
                <key>sourceSize</key>
                <string>{36,331}</string>
            </dict>
            <key>ingame_Setting_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,53},{52,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,39}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>ingame_Stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,107},{11,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,307}}</string>
                <key>sourceSize</key>
                <string>{11,307}</string>
            </dict>
            <key>ingame_Stick_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,603},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ingame_Table_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,931},{97,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,423}}</string>
                <key>sourceSize</key>
                <string>{97,423}</string>
            </dict>
            <key>ingame_Table_Purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{97,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,422}}</string>
                <key>sourceSize</key>
                <string>{97,422}</string>
            </dict>
            <key>ingame_Table_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1269},{97,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,422}}</string>
                <key>sourceSize</key>
                <string>{97,422}</string>
            </dict>
            <key>ingame_Table_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,845},{97,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,422}}</string>
                <key>sourceSize</key>
                <string>{97,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>New_Ingame_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635a23185557c4d434e092e47d41b403:1/1$</string>
            <key>textureFileName</key>
            <string>New_Ingame_2.png</string>
        </dict>
    </dict>
</plist>
