<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bleu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1860},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>Coupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1140},{164,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,110}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
            <key>Coupon_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1860},{156,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,110}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>CuaHang_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1288},{303,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,72}}</string>
                <key>sourceSize</key>
                <string>{303,72}</string>
            </dict>
            <key>Fake_SHOP_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_SHOP_02_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_SHOP_03_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Gloves.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1129},{144,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,170}}</string>
                <key>sourceSize</key>
                <string>{144,170}</string>
            </dict>
            <key>GoinapUuDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,1129},{157,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,88}}</string>
                <key>sourceSize</key>
                <string>{157,88}</string>
            </dict>
            <key>Light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1589},{453,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,452}}</string>
                <key>sourceSize</key>
                <string>{453,452}</string>
            </dict>
            <key>Light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1589},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>Promotion_Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{447,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,469}}</string>
                <key>sourceSize</key>
                <string>{447,469}</string>
            </dict>
            <key>Promotion_Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1275},{330,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,395}}</string>
                <key>sourceSize</key>
                <string>{330,395}</string>
            </dict>
            <key>Shop_Blue_box_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1672},{269,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,395}}</string>
                <key>sourceSize</key>
                <string>{269,395}</string>
            </dict>
            <key>Shop_Gacha_Box_BLUE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,951},{199,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Shop_Gacha_Box_PURPLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,436},{201,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,160}}</string>
                <key>sourceSize</key>
                <string>{201,160}</string>
            </dict>
            <key>Shop_Gacha_Box_RED.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,773},{199,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Shop_Gacha_Box_YELLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,598},{200,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
            <key>Shop_Gold_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,374},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>Shop_Item_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1589},{269,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,395}}</string>
                <key>sourceSize</key>
                <string>{269,395}</string>
            </dict>
            <key>Shop_Item_Clock_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,111},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Shop_Pink_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,2},{439,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,1}}</string>
                <key>sourceSize</key>
                <string>{439,1}</string>
            </dict>
            <key>Shop_Purple_box_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1589},{269,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,395}}</string>
                <key>sourceSize</key>
                <string>{269,395}</string>
            </dict>
            <key>Shop_RedLines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,2},{107,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,21}}</string>
                <key>sourceSize</key>
                <string>{107,21}</string>
            </dict>
            <key>Shop_Red_box_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1286},{269,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,395}}</string>
                <key>sourceSize</key>
                <string>{269,395}</string>
            </dict>
            <key>Shop_Yellow_box_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{269,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,395}}</string>
                <key>sourceSize</key>
                <string>{269,395}</string>
            </dict>
            <key>VIP_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{370,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,224}}</string>
                <key>sourceSize</key>
                <string>{370,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shop_UI.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a1804891bad88d1ce5d23aad405360:1/1$</string>
            <key>textureFileName</key>
            <string>Shop_UI.png</string>
        </dict>
    </dict>
</plist>
