<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fake_Cues_Info_02_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_Inventory_01c_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,214},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_Inventory_01d_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Gacha_Arrow_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1988},{56,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{56,83}</string>
            </dict>
            <key>Gacha_Blue_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1286},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
            <key>Gacha_Box_Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1438},{331,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,327}}</string>
                <key>sourceSize</key>
                <string>{331,327}</string>
            </dict>
            <key>Gacha_Choose_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{718,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,210}}</string>
                <key>sourceSize</key>
                <string>{718,210}</string>
            </dict>
            <key>Gacha_DapHop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,214},{264,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,76}}</string>
                <key>sourceSize</key>
                <string>{264,76}</string>
            </dict>
            <key>Gacha_Name_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,480},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>Gacha_Purple_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1352},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
            <key>Gacha_Red_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1352},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
            <key>Gacha_Table_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{308,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,176}}</string>
                <key>sourceSize</key>
                <string>{308,176}</string>
            </dict>
            <key>Gacha_Vatphammoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1438},{467,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,84}}</string>
                <key>sourceSize</key>
                <string>{467,84}</string>
            </dict>
            <key>Gacha_Yellow_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GachaUI.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e756f69bd6020ee78d22a8901a82f38:1/1$</string>
            <key>textureFileName</key>
            <string>GachaUI.png</string>
        </dict>
    </dict>
</plist>
