<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pm_123PABB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{133,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{133,32}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PACB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,205},{103,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{103,66}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PBIDV_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,804},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{121,48}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PBVB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,405},{133,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{133,24}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PCC_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,345},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{95,58}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PDAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{127,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{127,60}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PEIB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,840},{127,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{127,62}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PGPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{133,36}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PHDB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{137,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{137,38}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PHSBC_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,405},{85,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{85,72}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PLPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,273},{113,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{113,70}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PMB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,133},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{107,70}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PMSB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{135,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{135,42}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PNAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{137,66}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PNASB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,540},{135,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{135,38}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PNVB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{135,34}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123POCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,677},{125,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{125,44}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123POJB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{137,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{137,56}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PPGB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{135,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{135,38}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PSCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{135,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{135,62}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PSEAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{133,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{133,30}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PSGB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,596},{121,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{121,68}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PSHB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{133,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{133,34}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PTCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{129,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{129,60}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PTPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{131,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{131,30}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PVAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{129,64}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PVARB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,719},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{119,66}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PVCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{135,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{135,48}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PVIB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,479},{115,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{115,70}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PVPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{129,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{129,32}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_123PVTB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{139,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{139,42}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_nh_bgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_nh_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{185,124}}</string>
                <key>sourceSize</key>
                <string>{187,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NHContent.png</string>
            <key>size</key>
            <string>{256,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f89e453f017104f2f300ca7baf22db6:1/1$</string>
            <key>textureFileName</key>
            <string>NHContent.png</string>
        </dict>
    </dict>
</plist>
